* {margin: 0; padding: 0;}

.teclado{
    background-color: #0056b3; 
    display:grid;
    gap:10px;
    grid-template-columns: repeat(3, 1fr);
    padding:10px;
}


.tecla {
    background-color: #0056b3; 
    color:#ffffff; 
    padding: 30px;
}

.tecla.ativa,
.tecla:active{
    background-color: #007bff;
    color: #ffffff;
    outline: none;
}

.tecla.focus,
.tecla:focus{
    outline: none;
    box-shadow: 1px 1px 10px #333;}

.tecla.active:focus,
.tecla.active:focus{
    box-shadow: 3px 3px 0 #333;
}

.Teclado {
    background-color: #ffffff; 
    color:rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}