* {margin: 0; padding: 0;}

.cabeçalho {
    background-color: #ffffff; 
    color:rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeçalhobiotecnologia {
    background-color: #ffffff; 
    color:rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeçalhoempreendedorismo {
    background-color: #ffffff; 
    color:rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeçalhoprog {
    background-color: #ffffff; 
    color:rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeçalhorobótica {
    background-color: #ffffff; 
    color:rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.navbar-search-field{
    width: 34%;
}
.btn.btn-outline-success{
    width: 50%;
}
.imagem-cabeçalho {
    width: 100px;
}

.lista-item {
    display: inline-block;
    margin: 0 16px; 
    padding: 24px 0; 
    font-size: 24px;
    width: 100px;

}

.programaçao {
    background-image: linear-gradient(#006eff, #ffffff);
    color: black;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 24px 0;
}

.projeto-titulo {
    padding: 24px 0;
}

.projeto-imagem {
    width: 25%;
    margin-left: 650px;
    margin-top: -100px;
}

.estudante-imagem {
    width: 100px;
}

.estudante-div {
    text-align: center;
    display: inline-block; 
    margin-left: 290px;
    margin-bottom: 50px;
}

.estudante-texto { 
    margin-top: 15px;
}

.estudante-titulo {
    text-align: center; 
    padding: 50px 0; 
}

.roda-pé{
    background-color:#033270;
    text-align: center; 
    height: 100px;
    padding: 30px;
}

.rodape-imagem {
    height: 80px;
    padding: 12px 960px; 
}

.lado_2{
    height: 50px; 

}
.nav-link {
    color: white !important;
}
.btn-outline-success {
    color: white !important;
    border-color: white;
}
.cabeçalho {
    height: 45vh;
    flex-direction: column;
}
.projeto{
    margin: 13vh;
    text-align: center;
}
.navbar {
    height: 9vh;
}
.logo-nova2 {
    height: 20vh;
    margin-bottom: 9vh;
}
.header-titulo{
    margin: 4vh;
}

.header-titulo-calculadora{
    margin: 4vh;
}

.card {
    max-width: 400px;
    margin: 2vh auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: none;
}

.estudante-titulo {
    text-align: center;
}

.estudante-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.estudante-imagem {
    width: 100%;
    height: 470px;
    object-fit: cover !important;
}

.estudante-nome {
    margin-bottom: 5px;
}
.card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.row.justify-content-center {
    justify-content: center;
}
.contato{
    margin-top:8vh ;
}
.contato-titulo{
    text-align: center;
}
.formulario {
    max-width: 100%;
    margin: 40px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.contato__texto {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.field {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
}

.mensagem {
    resize: vertical;
}

.btn {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}
.field.lado_2{
    margin-bottom: 80px;
}
.footer-text{
    color: white;
}






  




